* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #454545;
  line-height: 1.7;
}

a {
  text-decoration: none;
}

body {
  color: #eee;
}

.side-bar > a{
  color: #eee;
}
.side-bar {
  float: left;
  width: 20%;
  position: fixed;
  padding-top: 20px;
}



 .tidy-left>* { /* 只有子元素 */
  padding: 10px 15px;
  position:relative;
  left:13%;
}


#che, #che-text{
  display: none;
}

.side-bar .nav a,
.side-bar .tag-list a {
  display: block;
  padding: 5px;
  color: #888;
  -webkit-transition: color 300ms;
  -o-transition: color 300ms;
  transition: color 300ms;
}

.side-bar .nav a:hover,
.side-bar .tag-list a:hover {
  color: #eee;
}

.side-bar .nav a {
  font-weight: 800;
}

.main {
  float: right;
  width: 80%;
  color: #454545;
}

.header .logo {
  border: 5px solid #eee;
  color:#eee;
  padding: 10px 20px;
  font-size: 30px;
  display: inline-block;
  margin-bottom: 10px;
  line-height: 1;
}

.article-list, .article {
  margin-right: 10%;
  background: #eee;
  padding: 20px 30px;
  -webkit-box-shadow: 0 0 3px 2px black;
  box-shadow: 0 0 3px 2px black;
}

.article-list .item {
  margin-bottom: 25px;
}

.article-list .item .title,
/*首页 */
.article .title {
  /*详情页 */
  font-size: 22px;
  font-weight: 700;
  color: #454545;
}

.article-list .item .status,
.article .status {
  font-size: 13px;
  color: #aaa;
}

.article-list .item>*,
.article>* {
  margin: 10px 0;
}
